body {
    margin: 0%;
    padding: 0%;
    background-color: hsl(218, 28%, 13%);
    font-family: 'Raleway', sans-serif;
    color: white;
}

.container {
    margin: 0 auto;
    width: 90%;
}

header {
    .container {
        display: flex;
        justify-content: space-between;
        color: hsl(0, 0%, 100%);
    }
    a {
        color: white;
        text-decoration: none;
    }
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;
}

.illustration-intro {
    .container {
        display: flex;
        align-items: center;
        img {
            height: 16em;
            margin: auto;
        }
    }
}

.get-started {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 5%;
        a {
            color: white;
            text-decoration: none;
            background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
            padding: 3% 0%;
            width: 60%;
            border-radius: 30px;
            margin: 5% auto;
            font-weight: bold;
            font-size: 18px;
        }
    }
}

.benefits {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.each-benefit {
    margin-bottom: 20%;
}

.productive {
    .container {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* text-align: center; */
        a {
            display: flex;
            justify-content: space-between;
            width: max-content;
            position: relative;
        }
    }
}

.productive {
    img {
        height: 16em;
    }
    h1 {
        margin-top: 20%;
        margin-bottom: 5%;
        font-size: 20px;
    }
    h3 {
        margin-top: 3%;
        font-size: 16px;
        font-weight: normal;
    }
    a {
        color: hsl(176, 68%, 64%);
        text-decoration: none;
        border-bottom: 1px solid hsl(176, 68%, 64%);
        padding-bottom: 1%;
        margin-top: 5%;
        font-weight: bold;
        width: fit-content;
    }
}

.comments {
    margin-bottom: 20%;
    .container {
        margin-top: 20%;
    }
}

.each-comment {
    background-color: hsl(219, 30%, 18%);
    padding: 5% 3%;
    margin-bottom: 5%;
    h3 {
        background-color: hsl(219, 30%, 18%);
        font-weight: normal;
        font-size: 16px;
    }
    img {
        height: 2.5em;
        border-radius: 50%;
    }
    h2 {
        font-size: 16px;
        margin: 1% 0%;
    }
    h6 {
        margin: 0%;
    }
}

.ceo-details {
    display: grid;
    grid-template-columns: auto 1em 1fr;
    grid-template-rows: auto 1em 1fr;
    grid-template-areas: "image . name"
                         "image . title";
    img {
        grid-area: image;
    }

    h2  {
        grid-area: name;
    }
    h6 {
        grid-area: title;
    }
}

.form-section {
    .container {
        width: 80%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10% 5%;
        background-color: hsl(219, 30%, 18%);
        a {
            color: white;
            text-decoration: none;
            background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
            padding: 5% 0%;
            width: 100%;
            border-radius: 30px;
            margin: 5% auto;
            font-weight: bold;
            font-size: 18px;
            text-align: center;
        }
        input {
            width: 100%;
            padding: 5% 7%;
            border-radius: 30px;
            border: none;
            margin-bottom: 5%;
            ::placeholder {
                color: #BEBEBE;
            }
        }
        p {
            margin-bottom: 20%;
        }
    }
}

i {
    padding-right: 5%;
}

.company-info {
    h1 {
        font-size: 60px;
        font-weight: bold;
    }
    h4 {
        font-size: 16px;
    }
}

.address {
    display: flex;
    margin-top: 3%;
    h4 {
        margin: 0%;
    }
    i {
        padding-top: 1%;
    }
}

.page-links {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    a {
        font-size: 16px;
        margin: 3% 0%;
        color: white;
    }
}

.info-links {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    a {
        font-size: 16px;
        margin: 3% 0%;
        color: white;
    }
}

.social-media {
    margin: 15% 0% 5% 0%;
    display: flex;
    justify-content: center;
    a {
        font-size: 16px;
        margin: 3% 2%;
        color: white;
        border: 2px solid white;
        border-radius: 50%;
        padding: 3% 5%;
        font-weight: bold;
    }
}